.icon {
  display: inline-block;
  width: 2em;
  height: 2em;
  font-size: 30px;
  fill: #d7dce2;
  transition: all 0.2s ease-in-out;
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body {
  height: 100%;
}

body {
  background: white;
  position: relative;
}

.player {
  position: absolute;
  margin: 0;
  z-index: 2000;
}
.player.play .player__timeline {
  transform: translateY(-90%);
}
.player.play .player__album:after {
  box-shadow: 0px 30px 28px -10px rgba(0, 0, 0, 0.2);
}
.player.play .player__album {
  top: -65px;
}

.player.play .pause {
  display: inline-block;
}

.player.play .play {
  display: none;
}

.player__album {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  margin-right: 22px;
  position: relative;
  top: -50px;
  transition: all 0.4s ease-in-out;
}

.player__album:before {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 50%;
}

.player__album:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  box-shadow: none;
  transition: all 0.3s ease-in-out;
}

.player__albumImg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  display: none;
}

.player__albumImg.active-song {
  display: block;
}

.player__bar {
  background: #fff;
  padding: 10px 25px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  box-shadow: 0 30px 56px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 3;
}

.player__controls {
  display: flex;
  align-items: center;
}

.player__prev {
  transform: rotate(180deg);
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
  margin-right: 3px;
}

.player__prev:hover {
  background: #d7dce2;
}

.player__prev:hover svg {
  fill: #fff;
}

.player__play {
  cursor: pointer;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
  margin-right: 3px;
  position: relative;
}

.player__play:hover {
  background: #d7dce2;
}
.player__play:hover svg {
  fill: #fff;
}
.player__play svg {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.player__play svg.pause {
  display: none;
}
.player__next {
  cursor: pointer;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
  margin-left: -8px;
}
.player__next:hover {
  background: #d7dce2;
}
.player__next:hover svg {
  fill: #fff;
}
.player__timeline {
  background: #fff6fb;
  height: 95px;
  border-radius: 15px;
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
  z-index: 1;
  padding-left: 160px;
  flex-direction: column;
  justify-content: center;
}
.player__timelineBar {
  background: #e7e7e7;
  width: 95%;
  height: 4px;
  border-radius: 15px;
  margin-top: 13px;
  position: relative;
}
.player #playhead {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  width: 0;
  height: 100%;
  background: white;
}
.player__author {
  line-height: 1;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 15px;
}
.player__song {
  line-height: 1;
  margin: 0;
  font-size: 12px;
  color: #949494;
}
@media (max-width: 769px) {
  .player {
    position: relative;
    transform: scale(0.7, 0.7);
    width: 135%;
    right: 17.5%;
    top: 80%;
  }
  .player_wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
  }
}
@media (min-width: 770px) {
  .player {
    top: 67.5%;
    left: 55%;
  }
}
