/*@media (max-width: 767px) {
  .musicList {
    transform: scale(0.5, 0.5);
    position: absolute;
    width: 70%;
    height: 100%;
    z-index: 600;
    right: 45%;
    bottom: 12%;
    font-size: 10px;
  }
  a {
    text-align: center;
    width: 100%;
    height: 20%;
  }
}*/

@media screen and (max-width: 769px) {
  .musicList {
    transform: scale(0.6, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    align-self: center;
    z-index: 600;
    right: 20%;
    bottom: 12%;
  }
  a {
    width: 100%;
    height: 120px;
  }
}
/*각 디바이스별 미디어 쿼리 생성.*/
